*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #1d1e25;
    margin: 30px;
    padding: 20px;
    /* margin: 30px; */
    /* padding: 20px; */
}
.navbar {
    width: 100%;
    background: #0b3c6d;
}
.nav-container {
    max-width: 1200px;
    margin: auto;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-link {
    display: flex;
    gap: 20px;
}
.nav-link a {
    color: white;
    text-decoration: none;
}
.nav-action {
    display: flex;
    gap: 12px;
}
@media (max-width: 768px) {
    .nav-link {
        display: none;
    }
}

.try{
    background: transparent;
    border: 1px solid white;
    background-color: #0481ff;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    
}
.login {
    background: #facc15;
    margin-left: 15px;
    border-radius: 5px;
    height: 30px;
    width: 100px; 
}
 .hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    background: #0b3c6d;
 }
 .hero-text {
    flex: 1;
 }
 .hero-image {
    flex: 1;
 }
 .hero-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
 }
 .feature .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
 }
  .hero-text {
    flex: 1;
 }
 .hero-image {
    flex: 1;
 }
 .hero-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px; 
    margin-top: 10px;
}
.work-together .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.hero-text {
    flex: 1;
 }
 .hero-image {
    flex: 1;
 }
 .hero-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px; 
    margin-top: 10px;
}
.use-as .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    background: #0b3c6d;
}
.hero-text {
    flex: 1;
 }
 .hero-image {
    flex: 1;
 }
 .hero-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px; 
    margin-top: 10px;
}
.customized .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

}
.hero-text {
    flex: 1;
 }
 .hero-image {
    flex: 1;
 }
 .hero-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px; 
    margin-top: 10px;
}
.container6 {
    display: flex;
    align-items: center;
}
#Choose {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    padding-left: auto;
    margin-left: 30px;
    margin-top: 10px;

}
#p6 {
    font-size: 24px;
    margin-left: 30px;
    text-align: center;
}
.div6 {
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
}
.plans {
    display: flex;
    gap: 20px;
    justify-content: center;
    /* text-decoration: none; */
    line-height: 1.6;

}
.article1 {
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    gap: 20px;
    margin-right: 50px;
}
#free {
    font-size: 30px;
    margin-bottom: 10px;
}
#p7 {
    font-size: 24px;
    margin-bottom: 20px;
}
#p8 {
    font-size: 18px;
    margin-bottom: 20px;
}
.ul1 {
    list-style: none;
    margin-bottom: 20px;
}
#bli1 {
    border: none;
    height: 40px;
    border-radius: 10px;
    width: 100px;
    color: black;
    font-size: 16px;
}
.article2 {
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    gap: 20px;
    background-color: #0b3c6d;
    color: white;
    margin-right: 50px;
}
#personal {
    font-size: 30px;
    margin-bottom: 10px;
}
#p9 {
    font-size: 24px;
    margin-bottom: 20px;
    color: yellow;
}
#p10 {
    font-size: 18px;
    margin-bottom: 20px;
}
.ul2 {
    list-style: none;
    margin-bottom: 20px;
}
#bli2 {
    border: none;
    height: 40px;
    border-radius: 10px;
    width: 100px;
    color: black;
    font-size: 16px;
    background-color: cornflowerblue;
    margin-top: 10px;

}
.article3 {
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    gap: 20px;
}
#Organization {
    font-size: 30px;
    margin-bottom: 10px;
}
#p11 {
    font-size: 24px;
    margin-bottom: 20px;
}
.ul3 {
    list-style: none;
    margin-bottom: 20px;
}
#bli3 {
    border: none;
    height: 40px;
    border-radius: 10px;
    width: 100px;
    color: black;
    font-size: 16px;
    margin-top: 10px;
}
.container7 {
    display: flex;
    align-items: center;
    background: #0b3c6d;
    color: white;
}
#your-work {
    /* font-size: 50px;
    margin-bottom: 20px;
    /* text-align: center; */
    /* padding-left: auto;
    margin-left: 30px;
    justify-content: center; */  font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    padding-left: auto;
    margin-left: 30px;
    margin-top: 10px;
    color: white;


}
#p12 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    padding-left: auto;
    margin-left: 30px;
    margin-top: 10px;s

}

.your-data .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.hero-text {
    flex: 1;
 }
 .hero-image {
    flex: 1;
 }
 .hero-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px; 
    margin-top: 10px;
}
.container9 {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 50px;
    margin-top: 50px;
}
#our-sponsors {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: black;
    text-align: center;

}
.logoos {

    gap: 50px;
}
.logoos img {
    gap: 50px;
    margin-right: 120px;
}
#data-illu {
    width: 500px;
    height: auto;
    margin-left: 100px;
    margin-right: 44px;
}
.work-with .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;  
  background: #0b3c6d;
}
.hero-text {
    flex: 1;
 }
 .hero-image {
    flex: 1;
 }
 .hero-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px; 
    margin-top: 10px;
}
.container11 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.testimonial {
    text-align: center;
    font-size: 35px;
}
 .testimonial1 {
    background-color: #e0e7ff;
    border-radius: 15px;
    padding: 30px;
    width: 300px;
    height: 200px;
    /* margin-left: 100px; */
    margin-top: 20px;
}
#oberon1 {
    /* margin-top: 10px; */
    /* display: flex; */
    text-align: right;
}

#avatar1 {
    /* width: 50px; */
    /* height: auto; */
    border-radius: 50%;
   /* margin-top: 20px; */
}
.testimonial-text {
    margin-top: 10px;
    /* display: flex; */

}
#head-of {
    font-size: 12px;
    text-align: right;
}
#span1 {
    /* font-size: 30px; */
    /* color: #e0e7ff; */
}
.testimonial2 {
    background-color: #0481ff;
    border-radius: 15px;
    padding: 30px;
    width: 300px;
    height: 200px;
    margin-left: 50px;
    margin-top: 20px;
}
.testimonial3 {
    background-color: #0481ff;
    border-radius: 15px;
    padding: 30px;
    width: 300px;
    height: 200px;
    margin-left: 50px;
    margin-top: 20px; */
}
.footer-try {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #0b3c6d;
}
#try-today {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: white;
    text-align: center;
}
#pget {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
#try-taskey {
    background: transparent;
    border: 1px solid black;
    background-color: #0481ff;
    height: 50px;
    border-radius: 15px;
    /* margin-left: 30px; */
    width: 150px;
}
#pon {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.icons img {
    width: 40px;
    height: auto;
}
.footer-info {
    display: flex;
    background-color: #0b3c6d;
}
footer {
    background-color: #0b3c6d;
}
.h3whitepace {
    margin-left: 100px;
    margin-top: 20px;
}
#pw {
    /* flex: 0 0 auto; */
}
.resources {
    margin-left: 150px;
    margin-top: 20px;
}
.footer-container {
    display: flex;
}
.footer-bottom {
    display: flex;
    padding-bottom: 20px;
    background-color: #0b3c6d;
    gap: 20px;
    padding-left: 100px;
}
.product {
    margin-left: 150px;
    margin-top: 20px;
}
.resources {
    margin-left: 150px;
    margin-top: 20px;
}
.company {
    margin-left: 150px;
    margin-top: 20px;
}
.try-today-footer {
    margin-left: 50px;
    /* margin-top: 20px; */
}
#start-today {
    background: transparent;
    border: 1px solid black;
    background-color: #0481ff;
    height: 50px;
    border-radius: 15px;
    /* margin-left: 30px; */
    width: 100px;
}
    



@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-link {
        flex-direction: column;
        width: 100%;
    }
    .nav-link li {
        width: 100%;
        text-align: left;
        padding: 10px 0;
    }
    .container1, .container2, .container3, .container4, .container5, .container6, .container7, .container8, .container9, .container10, .container11 {
        flex-direction: column;
        align-items: center;
    }
    #img1, #img2, #img3, #img4, #img5, #data-illu, #apps {
        width: 100%;
        margin: 0;
    }
    .plans {
        flex-direction: column;
        align-items: center;
    }
}
#footer {
    margin-top: 50px;
}
#footer-links {
    display: flex;
    gap: 50px;
}
#footer-links div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#footer-links h4 {
    margin-bottom: 10px;
}
#footer-links a {
    color: white;
    text-decoration: none;
}
#footer-links a:hover {
    text-decoration: underline;
}
#start-today {
    margin-top: 20px;
    margin-bottom: 20px;
}


